learning/part1/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.1.0/windows_amd64/LICENSE.txt
learning/part2/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.1.0/windows_amd64/terraform-provider-azurerm_v4.1.0_x5.exe
learning/part2/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.1.0/windows_amd64/LICENSE.txt
learning/part2/.terraform/terraform.tfstate
learning/part2/.terraform.lock.hcl
learning/part1/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.36.0/windows_amd64/terraform-provider-azurerm_v4.36.0_x5.exe
learning/part1/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.36.0/windows_amd64/LICENSE.txt
learning/part1/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.1.0/windows_amd64/terraform-provider-azurerm_v4.1.0_x5.exe
